@model IEnumerable<Restaurant_WebApp.Models.TableBooking>

    @{
    ViewData["Title"] = "Table Bookings";
 
    }



<h1 style="color: #800080; margin-bottom:20px">Table Bookings</h1>

@* <p>
    <a asp-action="Create">Create New</a>
</p> *@

<table class="table">
    <thead style="color: #800080;">
        <tr>
            <th>
                Name
            </th>
            <th>
                Email
               
            </th>
            <th>
                Phone Number
              
            </th>
            <th>
                Persons
               
            </th>
            <th>
                Date
              
            </th>
            <th>
                From
              
            </th>
            <th>
                To
               
            </th>
            <th>
                Comments
              
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody style="color:orangered;">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalPersons)
                </td>
                <td>
                    @item.BookingDate.ToString("yyyy-MM-dd") 
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartingTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndingTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comments)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>