@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}



<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="text-center">
                <h1 style="color: #ffa500;">@ViewData["Title"]</h1>
                <h2 class="mb-4" style="color: #ffa500;">Create a new account</h2>
                <hr />

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="mb-4">
                    <label for="FirstName" class="form-label">First Name</label>
                    <input asp-for="Input.FirstName" class="form-control" autocomplete="FirstName" placeholder="Enter your first name" required>
                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                </div>

                <div class="mb-4">
                    <label for="LastName" class="form-label">Last Name</label>
                    <input asp-for="Input.LastName" class="form-control" autocomplete="LastName" placeholder="Enter your last name" required>
                    <span asp-validation-for="Input.LastName" class="text-danger"></span>
                </div>

                <div class="mb-4">
                    <label for="Email" class="form-label">Email address</label>
                    <input asp-for="Input.Email" type="email" class="form-control" autocomplete="Email" placeholder="Enter your email address" required>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>

              

                <div class="mb-4">
                    <label for="Password" class="form-label">Password</label>
                    <input asp-for="Input.Password" type="password" class="form-control" autocomplete="new-password" placeholder="Enter your password" required>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>

                <div class="mb-4">
                    <label for="ConfirmPassword" class="form-label">Confirm Password</label>
                    <input asp-for="Input.ConfirmPassword" type="password" class="form-control" autocomplete="new-password" placeholder="Confirm your password" required>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>

                <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary" style="margin-bottom:20px">Register</button>
            </form>
        </div>

        <div class="col-md-4">
            <section>
                <hr />
                @* <h3 class="mb-4" style="color: #ffa500;">Use another service to register</h3> *@

                @if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    @* <p>
                There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article about setting up this ASP.NET application to support logging in via external services</a>.
                </p> *@
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="mb-4">
                        @foreach (var provider in Model.ExternalLogins!)
                        {
                            <button type="submit" class="btn btn-outline-primary w-100 mb-2" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                        }
                    </form>
                }
            </section>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
